<!DOCTYPE HTML>
<html>
	<head>
		<title>Password strength checker in jQuery</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans+Condensed:300|Raleway' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!-- jQuery Library-->
		<link rel="stylesheet" href="css/passwordscheck.css" /><!-- Include Your CSS file here-->		
		<script src="js/passwordscheck.js"></script><!-- Include Your jQUery file here-->		
	</head>	
	<body>
		<div id="container">		
			<div id="header">
				<h2>Preencha os campos de cadastro:</h2>
				<hr>
			</div>			
			<div id="content">
				<form action="http://localhost:3000/cadastrar" method="post" id="register">
					<label for="nm_user"><b>Nome : </b></label>
					<input name="nm_user" id="nm_user" type="text" placeholder="Digite seu nome"/>&nbsp;&nbsp;
					<label for="cd_username"><b>Usuário : </b></label>
					<input name="cd_username" id="cd_username" type="text" placeholder="Digite seu username"/>&nbsp;&nbsp;
					<label for="cd_email"><b>E-mail : </b></label>
					<input name="cd_email" id="cd_email" type="email" placeholder="Digite seu e-mail"/>&nbsp;&nbsp;
					<button type="submit">Enviar</button>
				</form>	
			</div>			
		</div>		
	</body>
</html>