<!DOCTYPE HTML>
<html>
    <head>
		<title>Password strength checker in jQuery</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans+Condensed:300|Raleway' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!-- jQuery Library-->
		<link rel="stylesheet" href="css/passwordscheck.css" /><!-- Include Your CSS file here-->		
		<script src="js/passwordscheck.js"></script><!-- Include Your jQUery file here-->		
	</head>	
	<body>
		<div id="container">		
			<div id="header">
				<h2>Login</h2>
				<hr>
			</div>			
			<div id="content">
				<form id="register">
					<label for="username"><b>Usuário : </b></label>
					<input name="username" id="username" type="text" placeholder="Usuário"/>&nbsp;&nbsp;
				</form>
				<form id="register">
					<label for="password"><b>Senha : </b></label>
					<input name="password" id="password" type="password" placeholder="Senha"/>&nbsp;&nbsp;
				</form>
				<button name="button">Login</button>
				<button name="button">Esqueci minha senha</button>	
			</div>			
		</div>		
	</body>
</html>