<!DOCTYPE HTML>
<html>
    <head>
		<title>Password strength checker in jQuery</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans+Condensed:300|Raleway' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!-- jQuery Library-->
		<link rel="stylesheet" href="css/passwordscheck.css" /><!-- Include Your CSS file here-->		
		<script src="js/passwordscheck.js"></script><!-- Include Your jQUery file here-->		
	</head>	
	<body>
		<div id="container">		
			<div id="header">
				<h2>Login</h2>
				<hr>
			</div>			
			<div id="content">
				<form action="http://localhost:3000/login" method="post" id="register">
					<label for="cd_username"><b>Usuário : </b></label>
					<input name="cd_username" id="username" type="text" placeholder="Usuário"/>&nbsp;&nbsp;
					<label for="ds_password"><b>Senha : </b></label>
					<input name="ds_password" id="password" type="password" placeholder="Senha"/>&nbsp;&nbsp;
					<button type="submit">Login</button>
					<a href="http://localhost:3000/esqueci_minha_senha.html">Esqueci minha senha</a>
				</form>	
			</div>			
		</div>		
	</body>
</html>