<!DOCTYPE HTML>
<html>
	<head>
		<title>Password strength checker in jQuery</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans+Condensed:300|Raleway' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!-- jQuery Library-->
		<link rel="stylesheet" href="css/passwordscheck.css" /><!-- Include Your CSS file here-->		
		<script src="js/passwordscheck.js"></script><!-- Include Your jQUery file here-->		
	</head>	
	<body>
		<div id="container">		
			<div id="header">
				<h2>Seu e-mail foi verificado com sucesso! Agora defina uma nova senha:</h2>
				<hr>
			</div>			
			<div id="content">
				<form id="register">
					<label for="ds_token"><b>Senha atual : </b></label>
					<input name="ds_token" id="ds_token" type="password" placeholder="Digita a senha atual"/>&nbsp;&nbsp;
					<label for="ds_password1"><b>Nova senha : </b></label>
					<input name="ds_password1" id="password" type="password" placeholder="Digite a nova senha"/>&nbsp;&nbsp;
					<span id="result"></span>
					<label for="ds_password2"><b>Confirme : </b></label>
					<input name="ds_password2" id="password2" type="password" placeholder="Digite novamente a senha"/>&nbsp;&nbsp;
					<button type="button" id="salvarId" onclick="verifyAccount()">Salvar</button>
				</form>
				<form action="http://localhost:3000/password-recover" method="post" id="resend">
					<input type="hidden" name="cd_username" id="cd_username">
					<button type="submit">Reenviar e-mail de verificação</button>
				</form>
			</div>			
		</div>	
	</body>
</html>